In [ ]:
# Import python modules
import pandas as pd
import mysql.connector

In [ ]:
# Establiching connection to database
cnx = mysql.connector.connect(
	user='root', 
	password='Password1234', host='35.228.217.133', database='customers')

cursor = cnx.cursor()

In [ ]:
# Query table
query = ("select * from customer")
cursor.execute(query)

# Retrieve data
df = pd.DataFrame(cursor.fetchall())

# Retrieve column names
df.columns = cursor.column_names
df.head()

In [ ]:
#### Inserting new records into the SQL table through For Loop ####
for i in range(len(new_cust)):
    customer_id = str(new_cust['customer_id'].iloc[i])
    age = int(new_cust['age'].iloc[i])
    gender = str(new_cust['gender'].iloc[i])
    home_airport = int(new_cust['home_airport'].iloc[i])
    ticket_num = str(new_cust['ticket_num'].iloc[i])
    passport_num = str(new_cust['passport_num'].iloc[i])
    first_name = str(new_cust['first_name'].iloc[i])
    last_name = str(new_cust['last_name'].iloc[i])
    email_addr = str(new_cust['email'].iloc[i])
    cust_profile = str(new_cust['cust_profile'].iloc[i])
    tel = str(new_cust['tel'].iloc[i])
    
    query2 = ("INSERT INTO customer (customer_id, age, gender, home_airport, ticket_num, passport_num, first_name,"
              " last_name, email_addr, cust_profile, tel)"
              "values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)")
    val = (customer_id, age, gender, home_airport, ticket_num, passport_num, first_name, last_name, email_addr, cust_profile, tel)
    
    cursor.execute(query2, val)
    cnx.commit()

In [ ]:
# Close SQL connection
cursor.close() 
cnx.close()